@font-face {
    font-family: 'LemonMilk';
    src: url(LemonMilk.otf); 
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
    --main-color: #000;
    --second-color: rgb(240, 235, 235);
    --link-color: #ff7c61;
    letter-spacing: 2px;
    font: 400 18px 'Nanum Gothic';
}

h1 {
    font: 400 100px 'LemonMilk';
    text-align: center;
    letter-spacing: 5px;
    margin: 30px
}

h2 {
    font: 300 30px 'LemonMilk';
    letter-spacing: 5px;
    margin: 30px
}

.main-text {
    padding: 0px 10px 0px 10px;
}

.background-image {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: -1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 3px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    margin-right: 5px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0px;
}

.button:hover {
    color: var(--second-color);
    background-color: var(--main-color);
}

.header-text {
    padding: 0px 50px;
    font: 300 20px 'LemonMilk';
    letter-spacing: 2px;
    line-height: 50px;
}

.header-link {
    color: var(--main-color);
    
    cursor: pointer;
}

.header-link:hover {
    font-size: 25px;
    color: var(--link-color);
}

.bold-text {
    font: 600 30px 'LemonMilk'; 
    margin: 20px 0px 20px 200px;
    text-align: center;
}

.icon {
    font-size: 40px;
}

.bold-text:hover {
    color: var(--link-color);
    cursor: pointer;
}

/* TIMELINE SECTION */
 #timeline-content {
	 margin-top: 50px;
	 text-align: center;
}
 .timeline {
	 border-left: 4px solid var(--link-color);
	 color: var(--main-color);
     margin-left: auto;
     margin-right: auto;
     width: 50%;
	 padding: 50px;
	 list-style: none;
	 text-align: left;
}

 .timeline .event { 
     position: relative;
}

 .timeline .event:before, .timeline .event:after {
	 position: absolute;
	 top: 0;
}

 .timeline .event:after {
	 box-shadow: 0 0 0 4px var(--link-color);
	 left: -63px;
	 background: white;
	 border-radius: 50%;
	 height: 21px;
	 width: 21px;
     content: "";
 }
     
    .timeline .event:before {
	 left: -130px;
	 color: var(--main-color);
	 content: attr(data-date);
     text-align: right;
     font: 300 20px 'LemonMilk';
     
}

