@font-face {
    font-family: 'LemonMilk';
    src: url(LemonMilk.otf); 
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #000;
    --second-color: rgb(240, 235, 235);
    --link-color: #ff7c61;
    letter-spacing: 2px;
    font: 400 18px 'Nanum Gothic';
}

body {
    margin: 0px;
}

h1 {
    font: 400 100px 'LemonMilk';
    text-align: center;
    letter-spacing: 5px;
    margin: 30px
}

h2 {
    font: 300 30px 'LemonMilk';
    letter-spacing: 5px;
    margin: 30px
}

.main-text {
    padding: 0px 10px;
}

.backgrond-img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url('https://uploads-ssl.webflow.com/6016124b2f10f453a5b0770e/603476858e88e6f399aa42ff_red-circ.svg');
    background-position: center;
    background-size: 100%;
    padding-left: -300px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 2px 15px;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    margin-right: 5px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0px;
    background-color: transparent;
}

.button:hover {
    color: var(--second-color);
    background-color: var(--main-color);
}

.button-text {
    margin: 0px;
}

.header-text {
    padding: 0px 50px;
    font: 300 20px 'LemonMilk';
    letter-spacing: 2px;
    line-height: 50px;
}

.header-link {
    color: var(--main-color);
    cursor: pointer;
}

.header-link:hover {
    font-size: 45px;
}

.bold-text {
    font: 600 30px 'LemonMilk'; 
    margin: 20px 0px 20px 200px;
    text-align: center;
}

.icon {
    font-size: 40px;
}

.bold-text:hover {
    font-size: 40px;
    cursor: pointer;
}

/* TIMELINE SECTION */
 #timeline-content {
    margin-top: 50px;
	text-align: center;
}
 .timeline {
	 border-left: 4px solid var(--link-color);
	 color: var(--main-color);
     margin-left: auto;
     margin-right: auto;
     width: 50%;
	 padding: 50px;
	 list-style: none;
     text-align: left;
     margin-bottom: 0px;
}

 .timeline .event { 
     position: relative;
     margin-bottom: 100px;
}

 .timeline .event:before, .timeline .event:after {
	 position: absolute;
	 top: 0;
}

 .timeline .event:after {
	 box-shadow: 0 0 0 4px var(--link-color);
	 left: -63px;
	 background: white;
	 border-radius: 50%;
	 height: 21px;
	 width: 21px;
     content: "";
 }
     
    .timeline .event:before {
	 left: -130px;
	 color: var(--main-color);
	 content: attr(data-date);
     text-align: right;
     font: 300 20px 'LemonMilk';
    }

    .form-border {
        border-top: 4px solid var(--link-color);
    }

    .form-container, .confirm-but-container {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .form-container {
        padding: 40px 0px 20px;
    }

    .field {
        display: grid;
    }

    label {
        padding: 15px 10px;
    }

    input, textarea {
        background-color: transparent;
        color: var(--main-color);
    }

    input {
        height: 30px;
        border-radius: 50px;
    }

    textarea {
        height: 200px;
        border-radius: 30px;
        margin: 10px 0px;
    }

    .confirm-button {
        margin-bottom: 10px;
    }

    .fa-twitter {
        color: var(--link-color);
        font-size: 38px;
        text-decoration: none;
        margin: 0px;
    }

    @media(min-width: 800px) {
        .nav-container {
            padding: 10px 20px;
        }

        .button {
            padding: 3px 25px;
        }
    }

    @media(min-width: 895px) {
        .button {
            padding: 3px 35px;
        }

        .main-text {
            padding: 0px 50px;
        }

        .social-media {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    }

    @media(min-width: 1000px) {
        .nav-container {
            padding: 10px 50px;
        }

        .social-media {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
    }

    @media(min-width: 1090px) {
        .button {
            padding: 5px 45px;
        }
    }

    @media(min-width: 1275px) {
        .button {
            padding: 7px 55px;
        }

        .button-text {
            font-size: 21px;
        }

        h1 {
            margin: 70px 500px;
        }

        .main-text {
            font-size: 28px;
        }

        .social-media {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .backgrond-img {
            padding: 600px;
            background-position: right;
    
        }

        .confirm-button {
            font-size: 18px;
        }
    }


